<ul [ngClass]="isOpen ? 'navbar-nav bg-gradient-primary sidebar sidebar-dark accordion' : 'navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled'"
    id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>
    @for (item of menu; track item; let row = $index) {
        <hr class="sidebar-divider" [class.my-0]="row == 0">
        @if(item.isPage){
            <li class="nav-item">
                <a class="nav-link" [routerLink]="item.url">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>{{ item.title }}</span></a>
            </li>
        }@else{
            <div class="sidebar-heading">
                {{ item.title }}
            </div>

            @for (component of item.components; track $index) {
                @if(component.isPage == true){
                    <li class="nav-item">
                        <a routerLink="" class="nav-link" [routerLink]="component.url">
                            <i [attr.class]="component.icon"></i>
                            <span>{{ component.title }}</span></a>
                    </li>
                }@else {
                    <li class="nav-item">
                        <a class="nav-link" [class.collapsed]="component.isCollapse" data-toggle="collapse" [attr.data-target]="'#collapse-' + $index" aria-expanded="true"
                        [attr.aria-controls]="'collapse-' + $index" (click)="openCloseComponents(component)">
                            <i [attr.class]="component.icon"></i>
                            <span>{{ component.title }}</span>
                        </a>
                        <div [attr.id]="'collapse-' + $index" class="collapse" [class.show]="component.isCollapse">
                            <div class="bg-white py-2 collapse-inner rounded">
                                @for (page of component.items; track $index) {
                                    @if (page.isPage) {
                                        <a class="collapse-item" [routerLink]="page?.url">{{ page.title }}</a>
                                    }@else {
                                        <h6 class="collapse-header">{{ page.title }}</h6>
                                    }
                                }
                            </div>
                        </div>
                    </li>
                }                
            }            
        }
    }
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button (click)="openCloseSidebar()" class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>